#header{
    font-size: 1.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin : 1.75rem;
}
h1{
    margin-left: 8rem;
}
#feature{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    width: 60%;
}
.filter{
    height: 10rem;
}
input,select{
    width: 9rem;
    height: 2rem;
    font-size: 1rem;
}
#body{
    margin: 1rem 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height : auto;
}
.content{
    height: 12rem;
    width: 47%;
    margin: 1rem 1.3rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    word-wrap: break-word;
}
.spacer{
    padding: 1.2rem 1.2rem;
}
p{
    margin: 0.4rem;
    font-size : 1.2rem
}
a{
    text-decoration : none;
    color : black;
}
header{
    font-size : 1.75rem
}
.ptag{
    font-size : 1rem;
}
button{
    margin-right : rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
}
.last{

    display: flex;
    justify-content: space-between;
    margin: -1.5rem 40rem;
    font-size: 1.4rem;
}
.pageNo{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
.user{
    font-size: 1.25rem;
    text-align: center;
    margin: 1rem ;
}