<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogpost Home</title>
    <link rel="stylesheet" th:href="@{/css/allblog.css}" />
</head>
<body>
<div id="header">
    <h1><a th:href="@{/}"> My Blog Application </a></h1>
    <div id = "feature">
        <form th:action="@{/search}"  method = "get">
            <input type="text" name="search" th:value="${search}" placeholder = "Search" />
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <button type="submit" >Search</button>
        </form>
        <form method="get" th:action="@{/search}">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="search" th:value="${search}">
            <select name="sortDir" >
                <option>Sort(Date)</option>
                <option  value="ASC">ASC</option>
                <option  value="DESC">DESC</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <a th:href="@{/newpost}"><button type="submit">Create(Post)</button></a>


        <a th:href="@{/loginPage}"  sec:authorize="isAnonymous()"><button type="submit">Login</button></a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <input type="submit" id="Logout" value="Logout">
        </form>

        <form method="get" th:action="@{/filter}">
            <select name="tagId" multiple class="filter">
                <option th:each="tag: ${tagList}" th:text="${tag.name}" th:value="${tag.id}" ></option>
            </select><br>
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="search" th:value="${search}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <button type="submit">Filter</button>
        </form>
    </div>
</div>
<h3 class="user" sec:authorize="isAuthenticated()"> Logged User : <span sec:authentication= "name"></span></h3>

<div id = "body">
    <div class = "content" th:each="posts: ${postList}" th:if="${posts.getPublished == true}">
        <a th:href="@{/post{id}(id = ${posts.id})}" class="anchor" >
            <div class = "spacer">
                <div style="display: flex; justify-content: space-between;">
                    <header><strong th:text="${posts.title}"></strong></header>
                   <span>By : <b th:text="${posts.author}"></b></span>
                </div>
                <p th:text="${posts.createdAt}" class="ptag"> </p>
                <p> <span th:each="tag : ${posts.Tags}"  th:text="'#'+ ${tag.name}+ ' '"></span></p>
                <p th:text="${posts.excerpt}"></p>
            </div>
        </a>
    </div>
</div>
<div th:if="${totalPages > 1}">
    <div>
        <div class="pageNo">
            <span th:each="i:${#numbers.sequence(1 , totalPages)}">
<!--                +'&sortField=' + ${sortField}-->
                <a th:if="${currentPage != i}" th:href="@{'/page/'+${i} + '?search=' + ${search} +'&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"> [[${i}]]</a>
                <span th:unless="${currentPage != i}"> [[${i}]]</span>
            </span>
        </div>
        <div class="last">
            <div class="previous">
<!--                +'&sortField=' + ${sortField}-->
                <a th:if="${currentPage > 1}" th:href="@{'/page/'+${currentPage - 1} + '?search=' + ${search} +'&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"><button>Previous</button></a>
                <button th:unless="${currentPage > 1}">Previous</button>
            </div>
            <div class="next">
<!--                +'&sortField=' + ${sortField}-->
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/'+${currentPage + 1} + '?search=' + ${search} +'&sortField=' + ${sortField}+ '&sortDir=' + ${sortDir}}"><button>Next</button></a>
                <button th:unless="${currentPage < totalPages}">Next</button>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
</body>
</html> 