<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Comment</title>
  <link rel="stylesheet" th:href="@{/css/editComment.css}">
</head>
<body>
  <div class="container">
    <h2 align="center">Update Comment</h2>

    <div id="comment-form">
      <form class="comment-form" align="center" th:object="${comments}" method="post" th:action="@{'/post'+${comments.postId}+'/editComment'+${comments.id}}">
        <div class="form-group">
          <textarea class="form-control" id="comment-text" rows="5" name="text" th:field="${comments.comment}" ></textarea>
        </div>

        <div class="form-group" align="center">
          <button type="submit" class="btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>